/* Css for the navigation bar at the top */
body {
  background-color: #CEE5D0;
  margin: 0;
}
nav{
  background-color: #f0ead6;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: #CEE5D0;
}
ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
}
li{
  display:inline;
  padding: 14px 16px;
}
li-navbar{
list-style-type: none;
}

/* colour for stars in skillset table*/
.checked {
  color: orange;
}
/* fonts*/
body {
  font-family: Trebuchet MS, sans-serif;
}

nav {
  font-family: Arial ,sans-serif;
}
/* Css for tables*/
table {
     border: none;
   }

   th,
   td {
     border: none;
     background-color: #f0ead6;
     padding: 5px;
     width: 100px;
   }
   table, th, td {
     border: 1px solid black;
   }


   .footer {
     position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-decoration: none;
      background-color: #f0ead6;
      color: black;
      text-align: center;
   }
